@font-face {
  font-family: "Unageo-Black";
  src: url(/fonts/UnageoBlack-Regular.ttf);
}

@font-face {
  font-family: "Unageo-Extrabold";
  src: url(/fonts/UnageoExtrabold-Regular.ttf);
}

@font-face {
  font-family: "Unageo-Light";
  src: url(/fonts/UnageoLight-Regular.ttf);
}

@font-face {
  font-family: "Unageo";
  src: url(/fonts/Unageo.ttf);
}

@font-face {
  font-family: "Unageo-Italic";
  src: url(/fonts/Unageo-Italic.ttf);
}

:root {
  --background-color: #111111;
  --text-color: #fff;
  --text-color-btn-dwnld: #111111;
  --text-color-author: #555555;
  --background-not-addded-file-btn: #2e2e2e;
  --border-not-addded-file-btn: #fff;
  --background-addded-file-btn: #2e2e2e;
  --border-addded-file-btn: #696969;
  --background-btn-dwnld: #ffffff;
  --color-lines: #2c2c2c;
  --color-lines-instructions: #2e2e2e;
  --background-change-color-btn: #2e2e2e;
  --border-color-add-file-btn: #c3c0c0;
  font-family: Unageo, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 100;
  text-align: start;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

.App {
  width: 1160px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-height: 100%;
  border-left: 1px solid var(--color-lines);
  border-right: 1px solid var(--color-lines);
}

main {
  display: flex;
  flex-direction: column;
  gap: 70px;
  font-size: 16px;
}

h1 {
  font-family: "Unageo";
  font-size: 40px;
  margin: 0px;
  margin-top: 40px;
}

.h1 {
  max-width: 100%;
}

h2 {
  font-family: "Unageo";
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0px;
  line-height: normal;
}

h3 {
  font-family: "Unageo";
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 10px;
  font-size: 53px;
  font-weight: 800;
  line-height: normal;
}

h4 {
  font-family: "Unageo";
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 800;
  line-height: normal;
}

p {
  font-family: "Unageo";
  box-sizing: border-box;
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  color: var(--text-color);
  padding: 0px;
}

button {
  min-width: 250px;
  font-family: Unageo, sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 12px;
  border: none;
  outline: none;
  padding: 0px 20px;
  height: 50px;
  z-index: 5;
  color: var(--text-color-btn-dwnld);
  background-color: var(--background-btn-dwnld);
}

.header {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.indicator-color {
  position: absolute;
  pointer-events: none;
  left: 8px;
  width: 36px;
  height: 34px;
  z-index: 8;
  border-radius: 8px;
}

.input-color {
  z-index: 6;
  left: 0px;
  box-sizing: border-box;
  overflow: hidden;
  height: 50px;
  width: 250px;
  padding: 0px 4px;
  background-color: #00000000;
  border: 1px solid #484848;
  border-radius: 12px;
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.picker-icon {
  position: absolute;
  pointer-events: none;
}

.change-color-button {
  position: absolute;
  pointer-events: none;
  min-width: 250px;
  height: 50px;
  padding-left: 54px;
  background-color: var(--background-change-color-btn);
  border: 1px solid #484848;
  border-radius: 8px;
  color: var(--text-color);
  /* min-width: 100px; */
}

.change-color {
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.input-file-label {
  position: relative;
  display: inline-block;
}
.input-file {
  display: none;
}

.input-file-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  cursor: pointer;
  outline: none;
  font-family: Unageo, sans-serif;
  text-decoration: none;
  vertical-align: middle;
  align-items: center;
  border: 1px solid var(--border-color-input-file-btn);
  color: var(--text-color);
  text-align: center;
  border-radius: 12px;
  /* background-color: var(--background-not-addded-file-btn); */
  line-height: 22px;
  height: 50px;
  padding: 0px 20px;
  box-sizing: border-box;
  /* box-shadow: 0 0 70px #ffffff70; */
  /* border: none; */
  /* outline: 1px solid #484848; */
  margin: 0;
  /* transition: background-color 0.2s;
  transition: all 0.2s; */
}

.btn-not-added-file {
  background-color: var(--background-not-addded-file-btn);
  border: 1px solid var(--border-not-addded-file-btn);
}

.btn-added-file {
  background-color: var(--background-addded-file-btn);
  border: 1px solid var(--border-addded-file-btn);
}

.control-panel {
  max-width: 1100px;
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  padding: 30px 30px;
  border-bottom: 1px solid var(--color-lines);
  border-top: 1px solid var(--color-lines);
}

.recover-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  opacity: 80%;
  transition: all 0.2s;
}

.recover-btn:hover {
  opacity: 100%;
  transition: all 0.2s;
}

.recover-btn p {
  font-size: 16px;
  color: var(--text-color);
}

.recover-icon {
  width: 22px;
}

.change-color-container {
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.switch-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: start;
  width: 245px;
}

.switch-theme-container {
  margin-top: 40px;
  position: absolute !important;
  left: 0px;
  max-width: fit-content;
  padding-left: 30px;
}

.instructions-container {
  margin-top: 40px;
  position: absolute !important;
  right: 0px;
  max-width: fit-content;
  padding-right: 30px;
}

.instructions-container img {
  cursor: pointer;
}

.instructions-container p {
  font-size: 16px;
  color: var(--text-color);
}

.switch-description {
  font-size: 16px;
  color: var(--text-color);
}

.plagin-link {
  font-weight: 400;
  color: var(--text-color);
}

.download-container {
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.download-code-svg {
  font-size: 16px;
  cursor: pointer;
}

.author-info {
  position: absolute;
  bottom: 0px;
  font-size: 12px;
  color: var(--text-color-author);
  text-align: center;
  margin-bottom: 20px;
}

.author-link {
  color: var(--text-color-author);
  text-decoration: underline;
  font-weight: 600;
  transition: all 0.2s ease;
}

.author-link:hover {
  transition: all 0.2s ease;
  color: #686868;
}

input {
  min-height: 100px;
  min-width: 300px;
  padding: 0px 4px;
  background-color: #00000000;
  cursor: pointer;
  /* border: 1px solid #ffffff; */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
